@{
    @model IEnumerable<CulnryBookUP.Models.User>
}
<link rel="stylesheet" href="~/css/form.css"/>

<body>
    <div class="login-container">
        <div class="login-card">
            <div class="brand-organic">
                <p>японская кулинарная книга</p>
            </div>

            <form method="post">
                <div class="input-group">
                    <label class="input-label" for="login">логин</label>
                    <input type="text" id="login" class="input-field" placeholder="Введите логин" required>
                </div>

                <div class="input-group">
                    <label class="input-label" for="password">пароль</label>
                    <input type="password" id="password" class="input-field" placeholder="***********" required>
                </div>

                <div class="flex-row">
                    <label class="checkbox-wrapper">
                        <input type="checkbox" checked> <span style="margin-left: 0.2rem;">запомнить</span>
                    </label>
                    <a href="#" class="forgot-link">забыли пароль?</a>
                </div>

                <button type="submit" class="login-button">войти</button>
            </form>

            <div class="separator">
                <span class="separator-line"></span>
                <span>или</span>
                <span class="separator-line"></span>
            </div>

            <div class="signup-prompt">
                ещё нет аккаунта?
                <a href="#" class="signup-link">создать </a>
            </div>
        </div>
    </div>

    <h2>Clients</h2>

    <table class="table-bordered">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>UserName</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdUser</td>
                    <td>@item.UserName</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.Role?.RoleName</td>
                </tr>
            }
        </tbody>
    </table>
</body>